<div class="text-center jumbotron">
  <h1>Choose</h1>
  <h3>Your stack from the list below</h3>
  <br/>
  <%= link_to resources_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    create your dashboard
  <% end %>
</div>


<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
<!--       <tr>
        <th><h3>Languages:</h3></th>
      </tr> -->
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @languages) do |language| %>
            <td><h5><%= language.name %></h5></td>
      <% end %>
    </tbody>
  </table>
</div>

