<form action="/languages/add_selected" method="post">
  <div class="text-center jumbotron">
    <h1>Choose</h1>
    <h3>Your stack from the list below</h3>
    <br/>
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <input type="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-plus"></span>
      Create Your Dashboard
    </input>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
  <!--       <tr>
          <th><h3>Languages:</h3></th>
        </tr> -->
      </thead>

      <tbody>
        <%= content_tag_for(:tr, @languages) do |language| %>
          <td><h5><%= language.name %></h5></td>
          <td><div class="field">
            <%= check_box_tag 'language_ids[]', language.id -%>
          </td>
        <% end %>
      </tbody>
    </table>
  </div>
</form>
